//MDL
.resturant-card-square.mdl-card
  width: 320px
  height: 320px

.resturant-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.mdl-shadow--2dp
  margin: 10px
